*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row>* {
    margin-top: 0;
}

html {
    font-size: 13px;
    font-weight: 400;
    color: #181C32;
}

body {
    width: 100% !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #181C32;
    background: #fafafa;
}

footer {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    height: 54px;
    bottom: 0;
    box-shadow: 0px -2px 8px 0px #CFCFCF26;

}

h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: #25282C;
    /* margin-bottom: 10px; */
}

h2 {

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #181C32;
}

h3 {

    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #181C32;
}

.status-red{
    background: #962C2C1A;
    color: #962C2C;
}

.status-green{
    background-color: #E2F9E3;
    color:#0F700F ;
}

.status-yellow{
    background-color: #FFF2CC;
    color: #9A5300;
}

.status-blue{
    background-color: #F3F8FF;
    color:#181C32 ;
}




.label {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #243756;
    margin-bottom: 5px;
}

.hidden{
    display: none !important;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2{
    grid-template-columns: 1fr 1fr;
}
.grid-4{
    grid-template-columns: repeat(4,1fr);
}
.grid-dropdown{
    grid-template-columns: 25% auto;
}

.icon-container {
    display: flex;
    gap: 12px;
}

.icon-container img {
    width: 15px;
    height: 15px;
}

.new-take-info {
    width: 975px;

}

.form-control {
    color: #181C32;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.form-control:focus {
    box-shadow: none;
}

.btn-outline-primary:focus {
    box-shadow: none;
}

.input-group-text {
    padding: 12px;
    background-color: #F4F5F6;
    border-radius: 4px;
    border: 1px solid #ECEDEF;
}

.input-item {
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: 1px solid #ECEDEF;
    border-radius: 4px;
}

.input-item:hover {
    border-color: #D9D9D9;
}

.input-item:focus {
    border-color: #0747A6;

}

.input-item:active {
    border-color: #d9d9d9;
}

.input-item:focus-visible {
    outline: none;
}


.input-item::placeholder {

    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #85909F;
}

.input-item:hover::placeholder {
    color: #546071;
}

.input-value {

    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #181C32;
}


.referral-box {
    border-top: 1px solid #ECEDEF;
    padding: 10px 20px;
}


.info-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #243756;
    margin-bottom: 5px;
}

.info-detail {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #243756;
}

.duplicate-record-container {
    background-color: #eeeeee;
}

.action-btn {
    width: 32px;
    height: 32px;
    padding: 14px;
    background-color: #F4F5F6;
    position: relative;
}



.table thead th {
    border-bottom: none;
}

.table-type-1 tr th {
    background-color: #EFEFEF;

}

.table-type-1 tr td {
    background-color: #fff;

}
.table thead tr {
    padding: 8px 20px;
}

.table-type-1 tr th {
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: #243756;
}

.table-type-1 tbody tr {
    border: 1px solid #EFEFEF
}

.table-type-1 tbody tr:hover {
    border-color: #eceded;
    background-color: #F8FAFE;

}


.table-type-1 tbody tr:hover .info-bold {
    color: #0747A6;
}



.table-type-1 tbody tr td {
    padding: 25px 20px
}

.table-type-1 tbody tr td {

    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #181C32;
    vertical-align: middle;

}

.table-type-1 tbody tr td .info-bold {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    color: #25282C;
    display: inline-block;
    margin-bottom: 4px;

}

.table-type-1 tbody tr td .info-grey {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #546071;
}


.modal-lg {
    max-width: 1025px;
}

.modal-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #25282C;
}

.modal-body {
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
}
/* .h-500{
    height: 500px;
} */

.modal-header{
    padding: 15px 20px;
}

.modal-header .btn-close {
    background-color: #F4F5F6;
    opacity: 1;
}

.modal-header .btn-close:hover {
    background-color: #F4F5F6;
    opacity: 1;
}

.modal-secondary,
.tab-heading {

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #546071;
    width: fit-content;
    margin-right: 20px;

}



.modal-line, .modal-line-1 {
    height: 1px;
    opacity: 1;
}
.modal-line{
    background-color: #EAF1FD;
}
.modal-line-1 {
    background-color: #dcdcdc;
}

.margin-rt-0{
    margin-right: 0 !important;
}

#duplicate-list .dropdown-toggle::after,
#treatment-address-table .dropdown-toggle::after, 
#patient-representative-table .dropdown-toggle::after,
.user-profile-dropdown .dropdown-toggle::after,
#accordion-primary .dropdown-toggle::after,
.medication .dropdown-toggle::after
 {
    /* display: none; */
    content: url(../../images/three-dots.svg);
    width: 100%;
    height: 100%;
    top: 7px;
    left: 0px;
    position: absolute;
    border-top: none;
}

#duplicate-list .dropdown-toggle::after:hover {
    background-color: #EFEFEF;
}

#treatment-address-table tbody tr:hover{
    background-color: #FAFAFA;
}

#treatment-address-table.table-type-1 tbody tr td, 
#patient-representative-table.table-type-1 tbody tr td,
#document-list-table.table-type-1 tbody tr td
{
    padding: 12px 20px;
}

#manage-category-table.table-type-1 tbody tr td,
#additional-pharmacy-add-pharmacy-table.table-type-1 tbody tr td,
#additional-pharmacy-add-pharmacy-table.table-type-1 thead tr th,
#additional-pharmacy-add-hospital-table.table-type-1 tbody tr td,
#additional-pharmacy-add-hospital-table.table-type-1 thead tr th,
#preferred-skills-table.table-type-1 thead tr th,
#preferred-skills-table.table-type-1 tbody tr td,
#criteria-table.table-type-1 thead tr th,
#criteria-table.table-type-1 tbody tr td,
#medication-and-dosage-table.table-type-1 thead tr th
{
    padding: 8px 15px;
}

#medication-and-dosage-table.table-type-1 tbody tr td{
    padding: 12px 15px;
}

#pharmacy-name-table.table tbody tr td{
    padding: 12px 20px;
}

.dropdown .dropdown-menu {
    padding: 0;
    box-shadow: 0px 4px 10px 0px #83828240;

}

.dropdown .dropdown-item {
    padding: 10px 15px;
}

.dropdown .dropdown-item .form-check-label:hover {
    background: #F0F7FC !important;
    color: #0D87E2 !important;
}

.grid-line {
    grid-template-columns: auto 4fr;

}

.check-box {
    padding: 10px 15px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
}

.radio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EFEFEF;
    width: 100%;
    height: 41px;
    padding: 0px;
    border-radius: 4px;


}

.notice-style {
    background-color: #FAFCFF;
    border: 1px solid #0747A6;
    border-radius: 4px;
}

.warning-style{
    background-color: #FFF3F3;
    border: 1px solid #F29791;
    border-radius: 4px;
}
.notice {

    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #181C32;
}


/* patient information css */

.profile-box {
    width: 121px;
    height: 121px;
    background-color: #F4F5F6;
    border-radius: 50%;
    position: relative;
}

.upload {
    position: absolute;
    right: 0;
    bottom: 0;
}

.patient-title {

    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #181C32;
}

.info-icon {
    height: 15px;
    width: 15px;
}

.info-icon-label {

    font-family: Lato;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #4772E0;

}

.status-tag {
    padding: 5px 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    
}

.info-title {

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #243756;
}

.info-description {

    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #243756;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

.right-box {}

.right-box-dropdown {
    position: absolute;
    top: 15px;
    right: 20px;

}

.info-btn-group {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.tab-section .nav-tabs {
    border-bottom: none;
    border-top: 1px solid #EFEFEF;
}

.tab-section .nav-tabs .nav-link {
    border: none;
}

.tab-section .nav-link {

    color: #545B64;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    padding: 17px 15px;

}

.tab-section .nav-link:hover {
    background-color: #F4F5F6;
}



.tab-section .nav-link.active {
    border-bottom: 2px solid #545B64;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D4148;

}

.tab-content-grid {
    display: grid;
    grid-template-columns: 19% 81%;
}

.search-box {
    border-bottom: 1px solid #EFEFEF;
}

.search {
    position: relative;
}

.search-input {
    padding: 8px 10px 8px 33px;
    border: 1px solid #ECEDEF;
    border-radius: 4px;
}

.search-input:hover {
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9
}

.search-input:focus-visible {
    outline: none;
}

.search-input:focus {
    border-color: #0747A6;
}


.search-input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #787878;
}


.lens {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 11px;
}

.sidebar-container .nav-tabs .nav-link {
    border: none;
    padding: 15px;
    border: 1px solid #EFEFEF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #243756;
    text-align: left;
}

.sidebar-container .nav-tabs .nav-link:hover {
    background-color: #F0F7FC;
    color: #0D87E2;
}

.sidebar-container .nav-tabs .nav-link.active {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #0D87E2;
}

.tab-content-heading {

    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #25282C;
}

.save-time {

    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #545B64;

}

.info-heading {

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #545B64;
}

.custom-dropdown .btn-outline-secondary {
    padding: 9px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #181C32;


}

.custom-dropdown .dropdown-toggle::after {
    margin-left: 14px;
}

.custom-dropdown .btn-outline-secondary:hover {
    background-color: #FAFAFA;
}

.custom-dropdown .btn-outline-secondary:focus {
    background-color: #FAFAFA;
    color: #181C32;
    box-shadow: none;
}

.custom-dropdown .btn-outline-secondary:active {
    background-color: #FAFAFA;
}

.custom-dropdown .btn-outline-secondary.dropdown-toggle.show:focus {
    box-shadow: none;
}

.custom-dropdown .btn-outline-secondary.dropdown-toggle.show {
    border-color: #EFEFEF;
}


.bg-greybox {
    background-color: #FAFAFA;
    padding: 12px 16px;
}

.text-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #787878;
}

.text-description {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #3D3D3D;
}

.modal-title.Pinfo {

    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
}

.color-darkblue {
    color: #181C32;
}



.custom-modal-1 {
    min-width: 676px !important;
}

.custom-modal-2 {
    min-width: 775px !important
}

.custom-modal-3{
    min-width: 415px !important;
}

.custom-modal-4{
    min-width: 1280px !important ;
}

.custom-modal-5{
    min-width: 560px !important;
}



.form-check-input:checked+.form-check-label {
    color: #181C32;
    font-weight: 500;
}

#change .modal-footer {
    box-shadow: 0px -2px 8px 0px #CFCFCF26;
}

.add-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D4148;
}

.add-table-head {

    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #243756;
}

.sm-icon {
    width: 12px;
    height: 12px;
    margin: 0px 6px;
}

.detail-text {

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #545B64;
}

#acuity-level ul {
    padding-left: 0;
    margin-bottom: 0px !important;
    margin-left: -6px;
    margin-right: 5px;
}

#acuity-level ul li {
    margin-left: 25px;
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.table-type-1#add-physician-table tbody tr:hover,
.table-type-1#physician-contact-list-table tr:hover
{
    background-color: #fff;
}


.table-type-1 tbody tr td{
    align-items: center;
}
.table > :not(caption) > * > *{
    border-bottom: none;
}

#add-ref-physician .form-check-input[type="checkbox"]{
    margin-right: 14px;
}

#add-ref-physician .notice{
    margin-bottom: 4px;
}

#add-physician-table.table-type-1 tbody tr td,
#physician-contact-list-table tr td ,
#client-document-table tr td{
    padding: 12px 20px;
}

#client-document-table thead tr{
    padding: 8px 20px;
}

#add-quick-note-table.table-type-1 thead tr th {
    padding: 8px 12px;
}


#add-quick-note-table.table-type-1 tbody tr td{
    padding: 8px 12px;
}

#drug-interation-table.table-type-1 thead tr th,
#drug-side-effect-table.table-type-1 thead tr th,
#drug-medication-table.table-type-1 thead tr th,
#drug-interaction-table.table-type-1 thead tr th,
#drug-side-effect-table.table-type-1 thead tr th

{
    background: #FDF4BE;
    padding: 4px 16px;
}
#drug-medication-table.table-type-1 thead tr th{
    background:#FCEDD0;
}

#drug-side-effect-table.table-type-1 thead tr th
{
    background: #FBE9DE; 
}

#drug-interation-table.table-type-1 tbody tr td,
#drug-side-effect-table.table-type-1 tbody tr td,
#drug-medication-table.table-type-1 tbody tr td,
#drug-interaction-table.table-type-1 tbody tr td,
#drug-side-effect-table.table-type-1 tbody tr td

{
    padding: 6px 16px;
}



#add-quick-note-table.table-type-1 tbody tr:hover{
    background-color: #fff !important;
}

.table-btn-icon{
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 4px;
    background-color: #f4f5f6;
}

.pagination-box{
    margin: 20px 0 0 0;
}
.page-item{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.page-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #181C32;
}

.page-link:hover{
   background-color:#F0F7FC ;
   color: #181C32;
   border: 1px solid #0D87E2
}

.page-link:focus{
    border: 1px solid #0D87E2;
    box-shadow: none;
}
.pagination{
    gap: 4px;
    margin-bottom: 0px;
}

.page-item:first-child .page-link{
    border-radius: 0;
}

.map-box{
    border-top: 1px solid #D9D9D9;
   
}
.map-pin{
    position: absolute;
    top: 32%;
    left: 13%;
}

.client-clinician .info-title{
    color: #787878;
    width: 65px;
}

.client-clinician .info-description{
    width: 200px;
}

.singleDatePicker{
    line-height: 27px;
    margin-bottom: 0px;
    position: relative;
    padding: 0 12px 0 15px;
}
.singleDatePicker img{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 2px;
    margin: auto;
    cursor: pointer;
}

.singleDatePicker img{
    right: 10px;
}

#modify-checklist .text-title{
    color: #243756;

}

#modify-checklist .tab-heading{
    color: #989898;
}

.drag-drop-box{
    padding: 64px 56px;
}

.upload-item-box{
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    padding: 6px 12px;

}

.upload-file-name, .upload-file-size{
  
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}

.upload-file-name{
    color: #181C32;
    
}

.upload-file-size{
    color: #A1A7AF;
}
.disclaimer{
    font-size: 12px;
    line-height: 15px;
    color: #a1a7af;
}

#collapseOne .checkbox-group .form-check,
#add-new-primary-payer-source .checkbox-group .form-check,
.checkbox-group .form-check{
    width: 115px;
}

.dropdown.payer-source .dropdown-toggle{
padding: .375rem 0; 
}
.dropdown.payer-source .dropdown-toggle::after{
    display: none;

}


#denial-reason-table thead tr th{
    padding: 6px 10px;
}

#denial-reason-table tbody tr td{
    padding: 8px 10px;
}

#effective-date-chagnge-table.table-type-1 tbody tr td,
#journal-note-table.table-type-1 tbody tr td{
  padding: 6px 16px;  
}

#journal-note-table.table-type-1 tbody{
    border: 1px solid #F4F5F6;
    
}
#journal-note-table.table-type-1 tbody tr{
    border: none;
    
}

.add-new-field{
    background :none;
    border: none;
}

.radio-box.f-to-f{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: start;
    justify-content: flex-start;
    width:auto;
}

.f-to-f #inner-box .radio-box{
    width: auto;    
    height: auto;
}

.search-icon {
    padding: 8px 10px;
}

#search-form{
    padding: 10px 15px 10px 35px;
}

#search-form + img{
    top: 20px;
    left: 20px;
}


.color-green {
    border-radius: 4px;
    border: 1px solid #D5EFD6 !important;
    background: #E2F9E3;
}

.color-green .multiselect-selected-text {
    color: #0F700F;
}

.color-red {
    border-radius: 4px;
    border: 1px solid #F9D0C7 !important;
    background: #FEE3D4 !important;
}

.color-red .multiselect-selected-text {
    color: #063206;
}

#preference-criteria-table .multiselect-native-select .btn-group .dropdown-menu {
    text-align: center;
}

#preference-criteria-table.table-type-1 tbody tr td {
    padding: 8px 12px;
}

.new-form-list li{
    padding: 10px 15px;
    border-bottom: 1px solid #F1F1F1;
}

.new-form-list li:hover{
    background-color: #F0F7FC;
    color: #0D87E2;
}


.w-88{
    width: 88px;
}

.logo-box div{
    width: 104px;
}

.d-flex img + a{
    color: #0747A6;
}

.btn-menu-dropdown{
    height: 57px;
    background: none;
    border: none;
    padding: 17px 15px;
}

.btn-menu-dropdown:hover{
    background-color: #F4F5F6;
   
    color: #3D4148;
}
.btn-menu-dropdown:focus{
    border-bottom: 2px solid #545B64;
}

.referral-search .ref-lens{
    top: 44px;
    left: 20px;

}
.referral-search input#search-form{
    padding: 10px 15px 10px 35px;
}
.referral-search input#search-form-1{
    padding: 10px 15px 10px 35px;
}


.new-form-list li{
    padding: 10px 15px;
    border-bottom: 1px solid #F1F1F1;
}

.new-form-list li:hover{
    background-color: #F0F7FC;
    color: #0D87E2;
}

#treatment-address-table .tooltip{
    transform: translate(10px, 20px) !important;

}

.contact-grid{
    grid-template-columns:144px auto ;
}



#contact-list-popup .sidebar-container .nav-tabs .nav-link{
    border: none;
    padding: 8px 10px;
    margin:0px 15px;
    color: #545864;
}

#contact-list-popup .sidebar-container .nav-tabs .nav-link.active{
    border: none;
    background-color: #F0F7FC;
    padding: 8px 10px;
    margin:0px 15px;
    color: #0D87E2;
}


.selected-recp li{
    margin: 0px;
}

.filter-values ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: auto;
}

.filter-values li {
    padding: 5px 10px 5px 10px;
    margin: 0 10px;
    background: #EEF1F7;
    border: 1px solid #B9D3F8;
    border-radius: 10px;
}

.filter-values .btn-close {
    background: url(../../images/closeIcon.svg) center/0.8em auto no-repeat !important;
    margin-left: 10px;
    opacity: 1;
}
.selected-recp li {
    margin: 0px;
  }

  #duplicate-list .dropdown-toggle::after{
    top: 6px;
    left: -3px;
  }

  .search-client .multiselect-selected-text, .form-check-label{
    /* padding: 0 30px; */
  }

  .search-client .form-select{
    background: none;
  }

  .search-client .medication-drop .btn-secondary{
    background-color: #FAFAFA;
    color: #181C32;
    border: none;
  }
  .pop-up-image {
    width: 20px;
    height: 20px;
}

.popUp-title {
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.pop-up-image-box {
    display: flex;
    gap: 10px;
}

.pop-up-content {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 18px;
}

.pop-up-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #545B64;
}

.pop-up-borderStyle {
    border-top: 6px solid #FE9680 !important;
    border-radius: 4px;
    padding-top: 20px;
}

.pop-up-borderStyle .btn-outline {
    border: 1px solid #EFEFEF;
    min-width: 80px;
    height: 36px;
    padding: 10px;
    border-radius: 4px;
}

.pop-up-cancel {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: #3D4148;
}

.pop-up-borderStyle .modal-footer {
    box-shadow: 0 -2px 8px rgba(207, 207, 207, 0.25);
    border-top: 0;
}

.text-red-light {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: #FC2D2D;
}
.error-state-icon{
    width: 18px;
    height: 15px;
}

.red-error-box{
    border: 1px solid #FC2D2D;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FFF9F7;
}

.warning-box{
    border: 1px solid #EE9937;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FFF9F7;
}

.red-error-box .breadcrumb-item a,
.breadcrumb-item{
    font-size: 12px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #243756;
text-decoration: none;
}

#accordionErrorState .accordion-button,
#accordionErrorState-2 .accordion-button{
    background-color: #fff !important;
    padding-left: 20px;
}



.acoordion-arrow-pos .accordion-button::after{
 position: relative !important;
 left: 0;
 background-image: url(../../images/down-arrow-error.svg);
 width: 1.25rem;
height: 1.25rem;
transition: all;
}

.accordion-button:not(.collapsed)::after {
   
    transform: rotate(90deg);
}

.fit-content-dropdown .dropdown-menu {
    min-width: max-content;
}