strong,
b {
    font-weight: 700;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 13px;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #181C32;
}

.title-2 {
    font-size: 22px;
    font-weight: 600;
}

.tag-list {
    margin-bottom: 0;
}

.tag-list li {
    font-size: 14px;
    color: #465872;
    background: #EBECF0;
    padding: 2px 12px;
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.tag-list li img {
    margin-left: 10px;
    margin-top: -1px;
    cursor: pointer;
}

.tag-list li div {
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    padding-top: 25px;
    width: 100%;
    z-index: 9;
}

.tag-list li div ul {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    padding: 10px 15px;
    width: 100%;
}

.tag-list li div ul li {
    background: transparent;
    font-size: 14px;
    color: #2e333a;
    padding: 5px 0;
}

.tag-list li div ul li img {
    float: right;
    cursor: pointer;
    margin-top: 7px;
}

.tag-list li:hover {
    background: #F8F9FB;
}

.tag-list li:hover div {
    display: block;
}

.tag-list li:hover div ul li {
    background: transparent;
}

.tag-list li.show-more {
    border-radius: 0px;
}

.table-custom thead {
    background: #EFF4F8;
    color: #213449;
    font-size: 13px;
    font-weight: 600;
}

.alert-danger {
    background: #FFF4F4;
    padding: 10px;
    border: none;
    color: #AA2A2A;
}

.alert-danger span {
    color: #2e333a;
    font-size: 13px;
    font-weight: 400;
}

.text-blue {
    color: #0D87E2;
}

.text-pink {
    color: #DC4AD1;
}

.text-yellow {
    color: #B27B16;
}

.text-green {
    color: #0A6D0A !important;
}

.text-purple {
    color: #054FC3;
}

.text-red {
    color: #AA2A2A;
}

.text-red-light {
    color: #FD6E61 !important;
}

.text-dark {
    color: #181C32;
}

.text-light {
    color: #2e333a !important;
}

.text-light-2 {
    color: #546071;
}

.text-light-3 {
    color: #8B939D;
}

.text-light-4 {
    color: #6C737F;
}

.text-white {
    color: #fff;
}

.bg-white {
    background: #fff;
}

.btn {
    border-radius: 2px;
}

.btn-dot.dropdown-toggle::after,
.btn-transparent.dropdown-toggle::after,
.btn-status-label.dropdown-toggle::after {
    content: none;
}

.btn-dot {
    background: #F4F5F6;
    border-radius: 2px;
    padding: 0px;
    width: 32px;
    height: 32px !important;
    line-height: 10px !important;
}

.btn-transparent {
    background: none;

    padding: 0px;

}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    padding: 8px 0;
    margin: 0;
    font-size: 14px;
    color: #4A4949;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    min-width: 212px;
}

.dropdown-menu .dropdown-item {
    padding: 8px 15px;
    color: #2e333a;
}

.dropdown-item {
    color: #181C32;
}

.dropdown-item:hover {
    background: #F0F7FC;
}

.btn-check:focus+.btn,
.btn:focus,
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    outline: 0;
    box-shadow: none;
}

.form-check-label {
    cursor: pointer;
}

.btn-primary-light {
    background: #F0F7FC;
    color: #0E87E2;
    font-size: 13px;
    font-weight: 400;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: url("../images/dropdown.svg");
    border: none;
    margin-top: -3px;
}

.btn-link {
    color: #0E479A;
    text-decoration: none;
}

.btn-link:after {
    content: none;
}

.btn {
    font-size: 14px;
    font-weight: 500;
}

.btn-primary {
    background: #135CC8;
    color: #fff;
    border: 1px solid #135CC8;
}

.btn-primary:hover {
    background: #0747A6;
    border: 1px solid #0747A6;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-custom.disabled,
.btn-custom:disabled {
    color: #fff;
    background-color: #CECECE;
    border-color: #CECECE;
}

.btn-outline-primary {
    color: #243756;
    border-color: #0747A6;
    background: #F0F7FC;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0747A6;
    border-color: #0747A6;
}

.btn-light {
    color: #616A77;
    background-color: #EBECF0;
    border-color: #EBECF0;
}

.relative {
    position: relative;
}

::placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
    color: #13437B;
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px !important;
}

.text-14 {
    font-size: 14px !important;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.dot {
    width: 4px;
    height: 4px;
    background: #243756;
    border-radius: 4px;
    display: inline-block;
    margin: 2px 5px;
}

.profile-sm {
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    color: #24364B;
    font-size: 14px;
    background: #F5F9FD;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.profile-md {
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    color: #24364B;
    font-size: 14px;
    background: #F5F9FD;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.pe {
    cursor: pointer;
}

.modal-content {
    border-radius: 4px;
}

.modal-header {
    background: #fff;
    color: #25282C;
    border-radius: 4px 4px 0 0;
    padding: 15px 20px;
    border-bottom: 1px solid #ECEDEF;
}

.modal-header .modal-title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #25282C
}

.modal-footer {
    border-top: 1px solid #ECEDEF;
}

.modal-body {
    padding: 0;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f2f5f9;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f2f5f9;
}

.form-control {
    border: 1px solid #ECEDEF;
    border-radius: 0px;
    height: 37px;
    font-size: 13px;
    border-radius: 4px;
}

.form-control:focus {
    box-shadow: none;
}

.simplebar-scrollbar::before {
    background-color: #8E8B8B;
}

.form-select {
    border: 1px solid #ECEDEF;
    border-radius: 0px;
    height: 37px;
    background-image: url("../images/dd-2.svg");
    background-size: 11px 6px;
    color: #727F91;
    font-size: 14px;
    border-radius: 4px;
}

.form-select:focus {
    box-shadow: none;
    border-color: #d3d3d3;
}

label.label {
    font-size: 13px;
    font-weight: 600;
    color: #3D4148;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
}

label {
    margin-bottom: 8px;
}

.modal-xl {
    max-width: 1266px;
}

.modal-xl.no-grid .modal-content {
    display: block;
}

.form-control:disabled,
.form-control[readonly] {
    background: #F4F5F6;
    border: 1px solid #ECEDEF;
}

.form-transparent,
.form-transparent:focus,
.form-transparent:active {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
}

.form-transparent input {
    background: transparent;
}

.btn-close {
    background: url("../images/cancel.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.btn-close-black {
    background: url("../images/cancel-black.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
    width: 10px;
    height: 10px;
}

.card-lightblue {
    background: #eff3f9;
    padding: 15px;
}

.card-white {
    background: #fff;
    padding: 15px;
}

.pe-none {
    pointer-events: none;
}

.form-check-input:checked {
    background-color: #1059C6;
    border-color: #1059C6;
}

.form-switch .form-check-input:checked {
    background-color: #00A221;
    border-color: #00A221;
}

.read-more {
    color: #0D87E2;
    font-size: 13px;
    font-style: italic;
}

.dropdown-divider {
    border-top: 1px solid #d9d9d9;
    opacity: 1;
}

.c-dropdown {
    position: relative;
    font-size: 14px;
    color: #2e333a;
    width: auto;
    padding-right: 20px;
}

.c-dropdown .dropdown-list {
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    max-height: 66vh;
    overflow-y: auto;
    width: 160px;
}

.c-dropdown .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.c-dropdown .dropdown-label {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    width: max-content;
}

.c-dropdown .dropdown-label:before {
    content: url(../images/dropdown.svg);
    float: right;
    right: 8px;
    position: absolute;
    top: 2px;
}

.c-dropdown.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
    z-index: 1;
}

.c-dropdown.on .dropdown-list .dropdown-option {
    opacity: 1;
}

.c-dropdown.on .dropdown-label:before {
    content: url(../images/dropdown.svg);
}

.c-dropdown [type=checkbox] {
    position: relative;
    top: -1px;
    margin-right: 4px;
}

.c-dropdown [type=radio] {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.form-control::placeholder {
    color: #727F91;
    opacity: 1;
}

.v-divider-sm {
    height: 17px;
    display: block;
    width: 1px;
    background: #d9d9d9;
}

.card {
    border: 1px solid #d9d9d9;
    border-radius: 0;
}

.card .card-header {
    padding: 10px 15px;
    background: #F2F2F2;
}

.card .card-header h4 {
    font-size: 14px;
    color: #181C32;
    margin-bottom: 0;
}

.card .card-body {
    padding: 15px;
}

.pagination-wrap {
    position: fixed;
    bottom: 0px;
    background: #F2F2F2;
    width: calc(100% - 296px);
    z-index: 2;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
}

.page-item {
    margin: 0 2px;
    color: #243756;
}

.page-item .page-link {
    width: 18px;
    text-align: center;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
    padding: 0px;
    border: none;
    opacity: 0.4;
    border-radius: 10px
}

.page-item.active .page-link {
    color: #243756;
    background-color: transparent;
    padding: 0px;
    border: none;
    border-radius: 10px
}

.page-item.active .page-link:hover {
    background: #ddd;
}

.page-item.active .page-link:focus {
    box-shadow: none;
    opacity: 1;
}

.page-control {
    width: 30px;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #243756;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.page-control::placeholder {
    font-size: 12px;
    font-weight: 500;
}

.page-control:focus,
.page-control:focus-visible {
    box-shadow: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #243756;
}

.md-mobile-picker-header {
    font-size: 14px;
}

input.md-mobile-picker-input {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.md-mobile-picker-button.mbsc-button {
    font-size: 13px;
    padding: 0 15px;
    line-height: 36px;
    float: right;
    margin: 6px 0;
    width: 100%;
}

.mbsc-col-no-padding {
    padding-left: 0;
}

.md-mobile-picker-box-label.mbsc-textfield-wrapper-box,
.md-mobile-picker-box-label .mbsc-textfield-wrapper-box,
.md-mobile-picker-inline {
    margin: 6px 0 12px 0;
}

.bg-success {
    background-color: #33D354 !important;
}


/*radio*/
.radio {
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: left;
}

.radio+.radio {
    margin-top: 7px;
}

.radio input {
    display: none;
}

.radio input+span {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.radio input+span:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #fff;
}

.radio input+span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #222;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked+span:after {
    opacity: 1;
    transform: scale(1, 1);
}

.daterangepicker {
    border: 1px solid #EFEFEF;
    border-radius: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

.daterangepicker::before,
.daterangepicker::after {
    content: none;
    border: none;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    padding: 5px;
    font-size: 12px;
}

.daterangepicker .drp-buttons .btn {
    margin-left: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    line-height: 15px;
}

.modal-sm {
    max-width: 510px;
}

#loader {
    position: relative;
}

.nanobar {
    position: absolute !important;
    z-index: 8;
}

.nanobar .bar {
    background: #0D87E2;
    border-radius: 1px;
    height: 3px;
}

/* timepicker */
.timepicker {
    background: #fff;
    min-width: 335px;
}

.timepicker .top {
    border-bottom: 1px solid #EFEFEF;
    padding: 15px;
}

.timepicker .top h3 {
    font-size: 12px;
    color: #243756;
    margin-bottom: 0;
}

.timepicker .bottom {
    padding: 15px;
}

#time-picker {
    background: #F4F2F2;
    border-radius: 5px;
    padding: 2px 5px;
    color: #181C32;
    font-weight: 500;
}

.start-time-list-wrap,
.end-time-list-wrap {
    border: 1px solid #EFEFEF;
}

.start-time-list,
.end-time-list {
    height: 215px;
    overflow-y: auto;
}

.start-time-list li,
.end-time-list li {
    padding: 5px 15px;
    cursor: pointer;
}

.start-time-list li:hover,
.end-time-list li:hover {
    background: #F0F7FC;
}

#time-picker-wrap {
    position: absolute;
    right: 0px;
    top: 36px;
    display: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.timepicker .btn-link {
    font-size: 12px;
    color: #212529;
    font-weight: 700;
}

.timepicker .btn-primary {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    height: 28px;
    padding: 2px 8px;
}

/* datepicker */
.header .daterangepicker {
    top: 44px !important;
    /*right: 320px !important;
    left: auto !important; */
}

/* snackbar */
.snackbar {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 99;
    width: 100%;
}

.snackbar-content {
    padding: 20px 25px;
    background: #2B2B2B;
    position: absolute;
    bottom: 20px;
    left: auto;
    right: 20px;

    color: #fff;
    min-width: 245px;
}

.snackbar-content p {
    margin-bottom: 0;
    font-size: 12px;
}

.snackbar-content.success {
    border-left: 5px solid #00B500;
}



/* tag */
.amsify-remove-tag:after {
    content: url('../images/tag-cancel.svg');
}

.amsify-suggestags-area {
    width: 100%;
    position: relative;
}

.amsify-suggestags-area .amsify-suggestags-list {
    width: 100% !important;
}

.amsify-select-tag p,
.amsify-select-tag p {
    display: none;
}

.amsify-list {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

li.amsify-list-item {
    clear: both;
    padding: 8px 10px !important;
}

.amsify-list-item p {
    width: 65px;
    background: #F2F2F2;
    border-radius: 2px;
    font-size: 13px;
    padding: 2px;
    color: #546071;
    float: right;
    margin-bottom: 0;
    text-align: center;
}

.amsify-suggestags-input-area .amsify-select-tag,
.amsify-suggestags-input-area .amsify-plus-tag {
    background: #EBECF0;
    border-radius: 20px;
    font-size: 12px;
    color: #465872;
}

.amsify-suggestags-area .amsify-suggestags-list ul.amsify-list li.amsify-list-item:active {
    background: #f0f7fc;
    color: #465872;
    box-shadow: none;
}

.amsify-list-item:hover {
    background: #f0f7fc;
    color: #465872;
    box-shadow: none;
}


.btn-blue-light {
    background: rgba(5, 79, 195, 0.20);
    color: #054FC3;
}

.btn-blue-light:hover {
    color: #054FC3;
}

.btn-pink-light {
    background: rgba(219, 98, 126, 0.20);
    color: #DB627E;
}

.btn-pink-light:hover {
    color: #DB627E;
}

.btn-green-light {
    background: rgba(69, 129, 81, 0.20);
    color: #458151;
}

.btn-green-light:hover {
    color: #458151;
}

.btn-red-light {
    background: rgba(170, 42, 42, 0.20);
    color: #AA2A2A;
}

.btn-red-light:hover {
    color: #AA2A2A;
}

.btn-blue {
    background: #2558A8;
    color: #fff;
}

.btn-blue:hover {
    color: #fff;
}

.btn-teal {
    background: #34A7AC;
    color: #fff;
}

.btn-teal:hover {
    color: #fff;
}

.btn-green {
    background: #458151;
    color: #fff;
}

.btn-green:hover {
    color: #fff;
}

.btn-brown {
    background: #B55930;
    color: #fff;
}

.btn-brown:hover {
    color: #fff;
}

.bg-dark-green {
    background: #458151;
}

.bg-light-green {
    background: #19A823;
}

.bg-blue {
    background: #0E479A
}

.bg-lightblue {
    background: #E9F2F8
}

.bg.pink {
    background: #DB627E
}

.bg.orange {
    background: #B27016;
}

.text-dark-green {
    color: #458151;
}

.text-light-green {
    color: #19A823;
}

.text-blue {
    color: #054FC3
}

.text.pink {
    color: #DB627E
}

.text.orange {
    color: #B27016;
}

.progress {
    height: 5px;
}

.progress-text {
    font-size: 11px;
    width: 100%;
}

.modal {
    overflow: hidden;
}

.modal .modal-dialog.modal-xl {
    transform: translateY(100vh) !important;
    height: 600px;
    min-height: 600px;
}

.modal.show .modal-dialog.modal-xl {
    transform: translateY(calc(100vh - 600px)) !important;
    margin: 0 auto;
    height: 600px;
    min-height: 600px;
}


.cancel-absolute {
    position: absolute;
    right: 15px;
    top: 16px;
}


.header {
    background: #fff;
    z-index: 99;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    position: sticky;
    width: 100%;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.nav-up {
    top: -100px;
}


.c-textarea {
    height: auto !important;
}

.border-end {
    border-right: 1px solid #d9d9d9 !important;
}

.toast {
    background: #2B2B2B;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 5px;
    border-radius: 0px;
}

.toast.danger {
    border-left: 5px solid red;
}

.toast.success {
    border-left: 5px solid #00B500;
}

/* sweet alert */
.swal2-modal {
    border-radius: 8px;
    height: 230px;
    padding-top: 20px !important;
}

.swal2-title {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #545B64;
    padding-top: 5px;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgb(211, 226, 247) !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"] {
    background-color: #0747A6 !important;
}

.swal2-modal .swal2-icon.swal2-success {
    color: #0747A6 !important;
}

/* datalist */
datalist option {
    font-size: 14px;
    padding: 15px;
}

/* placeholder red star */
.form-group {
    position: relative;
}

input~.required::after {
    content: '*';
    position: absolute;
    color: #AA2A2A;
    right: 15px;
    top: 9px;
    font-size: 15px;
}

select~.required::after {
    content: '*';
    position: absolute;
    color: #AA2A2A;
    right: 30px;
    top: 9px;
    font-size: 15px;
}

textarea~.required:after {
    content: '*';
    position: absolute;
    color: #AA2A2A;
    right: 15px;
    top: 9px;
    font-size: 15px;
}

input:valid~span,
textarea:valid~span,
select:valid~span {
    display: none;
}

.required-text {
    font-size: 12px;
    color: #AA2A2A;
}




.no-data {
    text-align: center;
    min-height: calc(100vh - 160px);
    padding-top: 5%;
}

.no-data h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.dropdown-toggle.no-arrow:after,
.dropdown-toggle.no-arrow:before {
    content: none;
}

.w-auto {
    width: auto !important;
    min-width: auto !important;
}

.w-50 {
    width: 50%;
}

.btn-sm {
    font-size: 13px;
    font-weight: 500;
    height: 25px;
    line-height: 24px;
    padding: 0 10px;
}

.multiselect-native-select {
    display: block;
}

.multiselect-native-select .btn-group {
    width: 100%;
}

.multiselect-native-select .multiselect {
    text-align: left !important;
}

.multiselect-option .form-check-label {
    margin-bottom: 0 !important;
}

.multiselect-container.dropdown-menu {
    padding: 0;
    width: 100%;
}

.multiselect-option.dropdown-item:hover,
.multiselect-option.dropdown-item:focus,
.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
    background: #F0F7FC !important;
    color: #0D87E2;
}

.multiselect-container .form-check-input {
    width: 12px;
    height: 12px;
    margin-top: 5px;
}

.multiselect-container .multiselect-option {
    border-bottom: 1px solid #F0F0F0;
}

.single-select~.btn-group .form-check {
    padding-left: 0;
}

.single-select~.btn-group .form-check-input {
    display: none;
}

.status.square {
    border-radius: 5px !important;
    padding: 2px 15px !important;
}

.text-blue {
    color: #0747A6 !important;
}

.switch-blue.form-check-input:checked {
    background-color: #1059C6;
    border-color: #1059C6;
}

/* alert */
.alert-primary {
    background: #DAE8FD;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #545B64;
    padding: 5px;
}

.container-sm {
    max-width: 1000px;
}

.form-check-input[type="checkbox"] {
    cursor: pointer;
}

label sup {
    color: #FD6E61;
}

.weeklyrange {
    border: none;
    width: 215px;
    text-align: center;
    cursor: pointer;
}

.singleDatePicker {
    position: relative;
    line-height: 25px;
}

.singleDatePicker img {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 2px;
    margin: auto;
    cursor: pointer;
}