html {
    font-size: 13px;
    font-weight: 400;
    color: #2e333a;

}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #2e333a;
    background: #FAFAFA;
}

h2 {
    font-weight: 600;
}

.info-bar {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #06419A;
    background: #F0F5FB;
    border: 1px solid #649DF1;
    border-radius: 3px;
    padding: 10px;
}

.container-1 {
    width: 90%;
    max-width: 1206px;
    margin: auto;
}



.mfs-height {
    height: calc(100vh - 125px);
    overflow-y: auto;
}

.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-20 {
    padding: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.info-label {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #546071;
    margin-bottom: 8px;
}

.info-detail {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #181C32;
    margin-bottom: 0;
}

.data-grid-1 {
    display: flex;
    gap: 65px;
}

.card-2 {
    padding: 20px;
    background: rgba(248, 249, 251, 0.7);
    border: 1px solid #EFEFEF;
}

.label {
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 20px;
    color: #243756;
    width: 100%;
}

.form-control {
    height: 30px;
    padding: 0 15px;
}

.form-select {
    height: 30px;
    padding: 0px 15px;
    font-size: 13px;
}

.dropdown-menu .dropdown-item {
    padding: 4px 15px;
    color: #181C32;
    font-size: 13px;
}

.dropdown-menu {
    min-width: fit-content
}

.btn-dot img:hover {
    filter: brightness(0.9);
}

.level-arrow {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #CCCFD3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-arrow img {
    opacity: 0.3;
}

.level-arrow.active img {
    opacity: 1;
}

.timesheet-wrap {
    display: grid;
    grid-template-columns: 250px auto;
    background: #E7EBEF;
    height: calc(100vh - 130px);
    overflow-y: auto;
    align-items: start;
}

.timesheet-inner-wrap {
    display: grid;
    grid-template-columns: 400px auto;
}

.header-fill {
    background: #E9F2F8;
}

.header-fill .title {
    font-weight: 600;
    font-size: 14px;
    color: #161F50;
    padding: 10px;
    margin-bottom: 0;
}

.custom-hr {
    background-color: #d9d9d9;
}

.table-type-1 {
    border: 1px solid #efefef;
}

.table-type-1 tr th {
    background: #EDEEEF;
    font-weight: 500;
    font-size: 12px;
    color: #243756;
    padding: 15px 10px;
    border: none;
}

.table-type-1 tr td {
    font-weight: 400;
    font-size: 12px;
    padding: 15px;
    color: #181C32;
}

.table-type-1.table-striped>tbody>tr td {
    background: #F8F9FB !important;
    box-shadow: none;
}

.table-type-1.table-striped>tbody>tr:nth-of-type(2n+1) td {
    background: #fff !important;
    box-shadow: none;
}

.table-type-1>tbody>tr:hover td,
.table-type-1.table-striped>tbody>tr:nth-of-type(2n+1):hover td {
    background: #F0F7FC !important;
    box-shadow: none;
}

.singleDatePicker {
    line-height: 27px;
}

.singleDatePicker img {
    right: 10px;
}

.c-timepicker {
    position: relative;
}

.c-timepicker .form-select {
    background-image: url("../images/clock-1.svg");
    background-size: 13px;
}

.multiselect-selected-text {
    color: #33373E;
}

.multiselect-container {
    max-height: 200px;
    overflow: auto;
}

/* custom sidebar menu */
.sidebar-menu {
    background: #FFFFFF;
    height: calc(100vh - 169px);
    overflow-y: auto;

    margin: 0;
    padding: 0;
}

.sticky-0 {
    position: sticky;
    top: 0px;
}

.sidebar-menu,
.sidebar-menu ul,
.sidebar-menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu li a {
    font-weight: 500;
    font-size: 13px;
    color: #546071;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid #EFEFEF;
    display: block;
    padding-left: 30px;

}

li.has-subchild>a {
    color: #181C32;
    position: relative;
}

li.has-subchild a,
.sidebar-menu li a {
    position: relative;
}



.sidebar-menu li a::before {
    content: url('../images/check2.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 7px;
    height: 16px;
    display: block;
}

.sidebar-menu li.has-subchild>a::before {
    content: url('../images/check1.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 7px;
    height: 22px;
    display: block;

}

.has-subchild .has-subchild a {
    padding-left: 40px;
}

.has-subchild .has-subchild a:before {
    left: 17px;
}

.has-subchild .has-subchild a~ul li a {
    padding-left: 50px;
}

.has-subchild .has-subchild a~ul li a:before {
    left: 27px;
}


.has-subchild ul {
    display: none;
}

.has-subchild.active ul {
    display: block;
}

.sidebar-title {
    font-weight: 500;
    font-size: 13px;
    color: #0D87E2;
    background: #F0F7FC;
    border: 1px solid #EFEFEF;
    padding: 10px 6px;
    margin-bottom: 0;
}

.link-blue {
    font-weight: 500;
    font-size: 13px;
    color: #0D87E2;
    text-decoration-line: underline;
}

.bg-lightblue {
    background: #E1E8F1;
}

.modal.show .modal-dialog.modal-xl {
    transform: none !important;
}