@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.main-header .menu ul.menu-section {
  margin-bottom: 0;
}


.main-header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 100;
  background: #fff;
}

.main-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
}

.header-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17%;
  flex: 0 0 17%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-item-right .menu-icon {
  font-size: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 1rem;
  color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-header .menu>ul>li {
  display: inline-block;
}

.main-header .menu>ul>li>a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-header .menu>ul>li.menu-item-has-children>a {
  padding: 0 20px 0 10px;
}

.main-header .menu>ul>li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding: 1rem 2rem;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
}

.main-header .menu>ul>li .menu-subs>ul>li {
  line-height: 1;
}

.main-header .menu>ul>li .menu-subs>ul>li>a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-header .menu>ul>li .menu-column-1 {
  min-width: 16rem;
  max-width: 20rem;
}

.main-header .menu>ul>li .menu-subs.menu-mega {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li {
  display: block;
  line-height: 1;
}

.main-header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-header .menu>ul>li .menu-subs.menu-column-4 {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  max-width: 100%;
  width: 100%;
  padding: 0px;
}

.main-header .menu>ul>li .menu-subs.menu-column-4>.list-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 1rem;
}

.main-header .menu>ul>li .menu-subs.menu-column-4>.list-item .title {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 0;
  color: var(--color-pink-700);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
  text-align: center;
}

.main-header .menu>ul>li .menu-subs.menu-column-4>.list-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.75rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a:hover,
.main-header .menu>ul>li .menu-subs>ul>li>a:hover {
  color: #FF6363;
}

.header-item-right a:hover,
.main-header .menu>ul>li:hover>a {
  color: #fff;
}

.main-header .menu-mobile-header,
.main-header .menu-mobile-toggle {
  display: none;
}

.menu-card {
  padding: 15px 40px;
}

.menu-card:hover {
  background: #FAFAFA;
}

.menu-subs h3 {
  font-size: 13px;
  font-weight: 600;
  color: #181C32;
  font-family: 'Lato', sans-serif;
}

.menu-subs h4 {
  font-size: 11px;
  font-weight: 500;
  color: #5B5B5B;
}

.menu-subs h5 {
  font-size: 16px;
  font-weight: 500;
  color: #232020
}

.menu-subs p {
  font-size: 13px;
  font-weight: 40;
  color: #4A4A4A;
  line-height: 1;
  margin-bottom: 0;
}

.menu-subs hr {
  margin: 10px 0;
  background-color: #EFEFEF;
  opacity: 1;
}

.menu-subs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;
}

.list-dash {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.list-dash li {
  padding-left: 20px;
  position: relative;
  margin: 10px 0;
  padding: 0;
  transition: 0.3s all;
}

.list-dash li a {
  color: #546071;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

.list-dash li a .badge {
  color: #fff;
  position: relative;
  font-size: 10px;
  font-weight: 500;
  border-radius: 2px;
  padding: 3px 5px;
  position: relative;
  top: -8px;
  left: 3px;
}

.list-dash li a .badge.red {
  background: #CE6F6F;
}

.list-dash li a .badge.blue {
  background: #3CA5D5;
}

.list-dash li a .badge.green {
  background: #2CB34A;
}

.menu-item-has-children>a:after {
  content: url('../images/arrow-down.svg');
  position: absolute;
  top: -20px;
  right: 7px;
}


.list-dash li a {
  position: relative;
  width: max-content;
}

.list-dash li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(9, 7, 7);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform .4s cubic-bezier(1, 0, 0, 1);
  transition: transform .4s cubic-bezier(1, 0, 0, 1)
}

.list-dash li a:hover:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.main-header .menu>ul>li .menu-subs {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}

@media screen and (min-width: 993px) {

  /* .main-header .menu > ul > li.menu-item-has-children:hover .menu-subs {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  } 
  .menu-item-has-children:hover > a:after{
    content: url('../images/arrow-up.svg');
    position: absolute;
    top: -20px;
    right:7px;
  } */
  .main-header .menu>ul>li.menu-item-has-children.active .menu-subs {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }

  .menu-item-has-children.active>a:after {
    content: url('../images/arrow-up.svg');
    position: absolute;
    top: -20px;
    right: 7px;
  }

  .main-header .menu>.menu-section>li.active {
    background: #0A316B;
  }
}

@media screen and (max-width: 992px) {
  .header-item-center {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .header-item-left,
  .header-item-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem 0;
  }

  .menu-card {
    padding: 15px;
  }

  .main-header .menu-mobile-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin: 0 20px;
    background: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  .main-header .menu-mobile-toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: #fff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .main-header .menu-mobile-toggle span:nth-child(1) {
    top: 0;
  }

  .main-header .menu-mobile-toggle span:nth-child(2),
  .main-header .menu-mobile-toggle span:nth-child(3) {
    top: 0.5rem;
  }

  .main-header .menu-mobile-toggle span:nth-child(4) {
    top: 1rem;
  }

  .menu-item-has-children>a::after {
    top: -4px;

  }

  .list-dash {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header-item-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    overflow: hidden;
    background: #0747A6;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .main-header .menu.active {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }

  .main-header .menu>ul>li {
    display: block;
    line-height: 1;
    margin: 0;
  }

  .main-header .menu>ul>li>a {
    display: block;
    line-height: 3.125rem;
    height: 3.125rem;
    padding: 0 3.125rem 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-header .menu>ul>li>a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .main-header .menu .menu-mobile-header {
    position: relative;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 110;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #0747A6;
  }

  .main-header .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 16px;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    text-align: center;
    border: none;
    color: #fff;
    background: transparent;
  }

  .main-header .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }

  .main-header .menu>ul>li .menu-subs {
    max-height: 100%;
  }

  .main-header .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: #000000;
    text-transform: capitalize;
  }

  .main-header .menu .menu-mobile-header .menu-mobile-close {
    font-size: 16px;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    border: none;
    border: none;
    color: #fff;
    background: transparent;
  }

  .main-header .menu ul.menu-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
  }

  .main-header .menu>ul>li .menu-subs {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main-header .menu>ul>li .menu-subs.menu-mega {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .main-header .menu>ul>li .menu-subs.active {
    display: block;
  }

  .main-header .menu>ul>li .menu-subs.menu-column-4>.list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0rem;
  }

  .main-header .menu>ul>li .menu-subs.menu-column-4>.list-item img {
    margin-top: 0;
  }

  .main-header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center .title {
    margin-bottom: 1.25rem;
  }

  .main-header .menu>ul>li .menu-subs.menu-column-4>.list-item.text-center:last-child .title {
    margin-bottom: 0rem;
  }

  .main-header .menu>ul>li .menu-subs>ul>li>a {
    display: block;
  }

  .main-header .menu>ul>li .menu-subs.menu-mega>.list-item>ul {
    margin-bottom: 1rem;
  }

  .main-header .menu>ul>li .menu-subs.menu-mega>.list-item>ul>li>a {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
}