@media (max-width:1396px) {}

@media (max-width:1199px) {}

@media (max-width:992px) {}

@media (max-width:767px) {
    .data-grid-1 {
        display: flex;
        flex-flow: column;
        gap: 25px;
    }
}

@media (max-width:480px) {

    html,
    body {
        height: 100%;

    }

    .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;


    }

    .h2-mobile {

        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        
    }

    .h2-tags{
        margin-bottom: 15px;
    }

    .singleDatePicker{
        line-height: 39px;
    }

    .info-bar {
        margin-top: 0;
        line-height: 20px;
        position: relative;
    }

    .info-bar img{
        position: absolute;
        top: 13px;
    }

    .info-bar span{
        margin-left: 25px;
    }

    .container-1 {
        width: 100%;

    }

    .mfs-height {
        padding: 16px;
    }

    .btn-primary,
    .btn-outline-primary {
        width: 50%;
        padding: 9px 20px;
        border-radius: 4px;
    }

    .mob-arrow {
        width: 28px;
        height: 27px;
        border-radius: 3px;
        background-color: #2134491A;
    }

    .title-details {
        padding: 20px 20px 0 20px;
    }

    #client-info {
        height: 203px;
    }

    .arrow-icon {
        width: 10px;
        height: 5px;

    }

    .info-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .patient-info-mobile .info-label {

        font-size: 13px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .info-detail {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .info-detail-mobile{
        margin-top: 2px;
        margin-left: 10px;
    }

    .rotate {
        transform: rotate(180deg);
    }

    .documentation .multiselect-native-select .btn-group {
        width:90%;
    }

    .label {
        font-size: 14px !important;
        line-height: 20px;
    }

    .form-check-input {
        height: 18px;
        width: 18px;
        margin-right: 0;
    }

    .form-check-input[type="checkbox"] {
        border-radius: 2.2px;
    }



    .form-check-label {

        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: #181C32;
        margin-left: 10px;

    }


    /* navigation css */

    .green-tag {

        font-size: 11px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        padding: 5px 15px;
    }

    /* timesheet-wrap */

    .timesheet-wrap {
        grid-template-columns: 100%;
    }



    .timesheet .form-control,
    .multiselect-native-select .btn-group {
        width: 100%;
    }

    .span-sm {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #181C32;
    }

    .modal-footer {
        flex-wrap: nowrap;
    }

    .custom-grid-responsive {
        grid-template-columns:1fr;
    }


    /* billing dx popup */
    .modal-dialog.modal-dialog-centered {
        margin-top: 80px;
    }

    .bg-lightblue {
        background: #fff;
    }

    #billingDX-Collapes .card,
    #emergency-Collapes .card,
    .collapse-content .card {
        border: none;

    }

    .card-border{
        border: 1px solid #D9D9D9;
    }

    #billingDX-Collapes .card-body,
    #emergency-Collapes .card-body,
    .collapse-content .card-body {
        padding: 0;

    }

    .mobile-label {

        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: #546071;
        margin-bottom: 8px;

    }

    .checkbox-group-w3 div {
        margin-bottom: 10px;
    }

    /* .modal */
    .modal {
        margin-top: 80px;
    }

    .modal-header {
        padding: 0 20px 20px 20px;
    }

    .close-line-container {
        margin: 15px auto 25px auto;

    }

    .close-line {
        width: 45px;
        background: #BDC1D5;
        border: 1px solid #BDC1D5;
        margin: 0px !important;
        border-radius: 100px;

    }

    /* dropDown */
   

    .dropdown-menu .dropdown-item {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        padding: 10px 15px;

    }

    .diagnosis {
        height: 481px;
    }

    .radio-small {
        width: 16px !important;
        height: 16px !important;
    }

    .sub-section-header {
        font-size: 14px;
        line-height: 22px;
    }

    footer {
        flex-shrink: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #navigation-Modal-Mobile .modal-header {
        padding: 15px !important;
    }

    #navigation-Modal-Mobile.modal{
        margin-top: 0px;
    }

    #navigation-Modal-Mobile .modal-dialog {
        margin: 0px 16px;
    }

    #navigation-Modal-Mobile .modal-body {
        padding: 0px !important;
    }

    #navigation-Modal-Mobile .modal-content {
        border-radius: 10px;
    }

    #navigation-Modal-Mobile .sidebar-menu li.has-subchild>a::before {
        content: '';
    }

    .timesheet-info-link {

        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #546071;

    }

     #navigation-Modal-Mobile .sidebar-menu li.has-subchild > a::after{
    content: url('../images/arrow_down.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    height: 22px;
    display: block;
    transition: transform 0.3s ease-in-out;
    } 

    .table-card{
        padding: 15px;
        border-bottom: 1px solid #EFEFEF;
    }
    .table-card-container .table-card:nth-child(2n) {
        background-color: #F8F9FB;
      }

    

    /* css for buttons  */


      .modal-dialog-scrollable{
        height: calc(100% - 8rem);
      }
  
     #patientInfo-Modal .btn-outline-primary,
     #timeSheetView-Modal .btn-outline-primary{
        width: 100%;
      }

    .sidebar-menu{
        padding-left: 8px;
    }

    .description-box:active{
        border: 1px solid #C5C5C5;

    }

    .header-fill .title{
        padding:20px 15px;
    }
    .form-control,.form-select{
        height: 40px;
    }

    .poa-label{
        display: block;
        margin-bottom: 10px;
    }

    #patientInfo-Modal .modal-dialog, #timeSheetView-Modal .modal-dialog {
        margin: 0;
    }
    
    #clientSignature-Modal .form-check-label{
        font-size: 13px;
    }
    .input-group-text{
        line-height: 2.1;
    }

    .input-group{
        margin-bottom: 15px;
    }

    .table-card > label{
        margin-left: 0;
    }

    #competency .card-body{
        padding: 0;
    }

}