@media (max-width:1199px) {}

@media (max-width:992px) {}

@media (max-width:767px) {
    .transparent-tab .nav-link {
        padding: 10px;
    }

    .sub-header .btn span {
        display: none;
    }

    .sub-header .btn img {
        margin: 0 !important;
    }

    .sub-header {
        padding-bottom: 10px;
    }

    .sub-header .nav-tabs {
        margin-bottom: 15px;
    }

    .main-header {
        padding: 0 0 0 15px;
    }

    .table-pattern-5 tbody tr td h3,
    .table-pattern-5 tbody tr td p {
        width: max-content;
        word-break: keep-all;
    }

    .filter-grid {
        grid-template-columns: 1fr;
    }

    .filter-list-box {
        position: relative;
        top: 0;
    }

    .text-column-2 .border-end {
        border: none !important
    }

    .preview-info-list div::after {
        content: none;
    }

    .details-section {
        flex-flow: column;
    }

    .left-detail-section {
        width: 100%;
        position: relative;
        top: 0;
        height: 100%;
    }

    .detail-box-listing {
        grid-template-columns: repeat(2, 1fr);
    }

    .title-row {
        height: auto;
    }
}